.rcontainer {
  margin: auto;
  width: auto;
  padding: 10px;
  margin-left: 10%;
}

.form_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
}

@media only screen and (max-width:500px) {
  .rcontainer {
    margin-left: 0;
    width: 100%;
  }
}

/* .som {
  background-repeat: no-repeat;
height: 100%;
width: 100%;
background-size: cover;
position: relative;
background-position: center center;
box-sizing: border-box;

}
 */

 .library {
	background: url(https://myaccount.somaiya.edu/img/BG-login.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	position: relative;
	background-position: center center;
}